# MLflow
mlruns/
mlartifacts/

# artifacts folder
artifacts/

# model files
*.pkl
*.joblib
*.h5

# logs
*.log

# cache
__pycache__/
*.pyc

# environments
venv/
.env

# notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db